{% extends 'base.html' %} 
{% block content %}
<div class="box" style="margin-top: 60px;">
    <div class="card">
        <a href="urlfor{ student }">
            <i class="fa fa-graduation-cap"></i>
            <h2>student</h2>
        </a>
    </div>
    <div class="card">
        <a href="urlfor{ employee }">
            <i class="fa fa-user"></i>
            <h2>employee</h2>
        </a>
    </div>
    <div class="card">
        <a href="urlfor{ admin }">
            <i class="fa fa-lock"></i>
            <h2>admin</h2>
        </a>
    </div>
    </div>
</div>
{%endblock%}