{% extends 'base.html' %}
{% block content %}
<div class="box" style="margin-top: 60px;">
    <h1>Booking</h1>
    <form method="POST" action="/book" enctype="multipart/form-data">
        <div class="form first">
            <div class="details personal">
                <span class="title">booking Details</span>
                <div class="feilds">
                    <div class="input-field">
                        <label>Location:</label>
                        <input type="text" id="location" name="location" placeholder="Enter your location..." required>
                    </div>
                    <div class="input-field">
                        <label>building_id:</label>
                        <input type="text" id="building_id" name="building_id" placeholder="Enter your building_id..." required>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit">submit</button>
    </form>
</div>

<script>
// Add an event listener for the form submission
document.querySelector('form').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent the default form submission

  // Create a FormData object to store the form data
  const formData = new FormData(event.target);

  // Use fetch to send a POST request to the Flask route '/save_data' with the form data
  fetch('/book', {
    method: 'POST',
    body: formData
  })
  .then(response => {
    if (response.ok) {
      // If the response from the server is okay, display a success message using SweetAlert
      Swal.fire({
        icon: 'success',
        title: 'Data saved successfully!',
        showConfirmButton: false,
        timer: 1500,
        didClose: () => {
          // After the success message is displayed, refresh the page
          location.reload();
        }
      });
    } else {
      // If the response from the server is not okay, display an error message using SweetAlert
      Swal.fire({
        icon: 'error',
        title: 'Error saving data!',
        text: 'Please try again later.',
        showConfirmButton: false,
        timer: 1500
      });
    }
  })
  .catch(error => {
    // If there is an error with the fetch request, display an error message using SweetAlert
    Swal.fire({
      icon: 'error',
      title: 'Error saving data!',
      text: 'Please try again later.',
      showConfirmButton: false,
      timer: 1500
    });
  });
});
</script>
{% endblock %}