{% extends 'base.html' %} 
{% block content %}
<div class="box" style="margin-top: 60px;">
    <div class="card">
        <a href="/booking">
            <i class="fa fa-plus"></i>
            <h2>Booking</h2>
        </a>
    </div>
    <div class="card">
        <a href="/acceptance">
            <i class="fa fa-check-circle"></i>
            <h2>Acceptance</h2>
        </a>
    </div>
    <div class="card">
        <a href="/room">
            <i class="fa fa-bed"></i>
            <h2>Rooms</h2>
        </a>
    </div>
    <div class="card">
        <a href="/profile">
            <i class="fa fa-user"></i>
            <h2>Profile</h2>
        </a>
    </div>
    <div class="card">
        <a href="/register">
            <i class="fa fa-user-plus"></i>
            <h2>Add User</h2>
        </a>
    </div>
    <div class="card">
        <a href="/addViolation">
            <i class="fa fa-user-times"></i>
            <h2>Violation</h2>
        </a>
    </div>
    <div class="card">
        <a href="/accept">
            <i class="fa fa-bell"></i>
            <h2>notification</h2>
        </a>
    </div>
    <!-- <div class="card">
        <a href="/register">
            <i class="fa fa-bell"></i>
            <h2>Register</h2>
        </a>
    </div> -->
</div>
{% endblock %}