<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com.ion.icons@5.5.2/dist/ionicons.js"></script>
    <link rel="stylesheet" href="../static/css/login.css">
    <!-- title -->
    <title>{{ title }}</title>
</head>
<body>
    <div class="video">
        <video src="../static/css/Images/facebook.mp4" autoplay="" muted="" loop></video>
    </div>
    <div class="text">
        <div class="img">
            <img src="../static/css/Images/logo.png" alt="logo">
        </div>
        <form method="POST" action="/">
            <h2>Login</h2>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="username" id="username" required>
                <label for="username">Email</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" id="password" required>
                <label for="password">password</label>
            </div>
            <div class="forget">
                <label for="lost">
                    <input type="checkbox" name="lost">Remember Me
                    <a href="#">Forget password</a>
                </label>
            </div>
            <input type="submit" name="submit" id="submit" value="Login">
        </form>
    </div>
</body>
</html>