{% extends 'base.html' %}
{% block content %}
<div class="box" style="margin-top: 60px;">
  <div class="card">
      <a href="/addStudent">
          <i class="fa fa-graduation-cap"></i>
          <h2>Student</h2>
      </a>
  </div>
  <div class="card">
      <a href="/addEmployee">
          <i class="fa fa-user"></i>
          <h2>Employee</h2>
      </a>
  </div>  
  <div class="card">
      <a href="/SearchStudent">
          <i class="fa fa-search"></i>
          <h2>Search For Student</h2>
      </a>
  </div>
  <div class="card">
      <a href="/SearchEmployee">
          <i class="fa fa-search"></i>
          <h2>Search for Employee</h2>
      </a>
  </div>  
</div>
{% endblock %}